*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Rubik', sans-serif;
  list-style: none;
  text-decoration: none;
} 
:root {
  --bg-color: #393f4d;
  --text-color: #fff;
  --main-color: #8a9ab1;

  --big-font: 7rem;
  --p-font: 1.1rem;
}

body{
  background-image: url('images/bg.png');
  background-size: cover;
  
}

.heading{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.heading h1 {
  font-size: 60px;
  color: var(--text-color);
  margin-bottom: 25px;
  position: relative;
}
.heading h1::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: var(--main-color);
}

.heading p {
  font-size: 15px;
  color: var(--text-color);
  margin-bottom: 35px;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-image {
  flex: 1;
  margin: 40px;
  overflow: hidden;
}

.about-image img{
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.25 ease;
 border-radius: 30px ;
}

.about-image img:hover {
  transform: scale(1.2);
}
.about-content {
  flex: 1;
}

.about-content h2{
  font-size: 23px;
  margin-bottom: 15px;
  color: var(--text-color);
}

.about-content p{
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-color);
}

.about-content .read-more{
  display: inline-block;
  padding: 10px 20px;
  color: var(--text-color);
  background-color: var(--main-color);
  font-size: 19px;
  text-decoration: none;
  border-radius: 25px;
  margin-top: 15px;
  transition: 0.3s ease;
}

.about-content .read-more:hover {
  background-color: var(--bg-color);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  background: transparent;
  transition: all ease .45s;
}


.logo {
  color:var(--text-color);
  font-size: 41px;
  font-weight: 600;
  margin-top: -45px;
}

.logo span {
  color: var(--main-color);
}

.navbar {
  position: relative;
  display: flex;
  margin-top: -45px;
}

.navbar a {
  font-size: var(--p-font);
  font-weight: 500;
  color: var(--text-color);
  margin: 0 25px;
  transition: all ease .50s;
}

.navbar a:hover,
.navbar a.active {
  color:var(--main-color);
}



.menu-btn {
  background: #0a0b18;
  box-shadow: 0px 20px 40px #0a0b18;
  border: 1px solid #0a0b18;
  padding: 10px 20px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  color: #0a0b18;
}

#menu-icon {
  font: 28px;
  margin-left: 10px;
  z-index: 6;
}



@media screen and (max-width: 768px) {
  .heading {
    padding: 0px 20px;
  }
  .heading h1{
    font-size: 36px;
  }
  .heading p{
    font-size: 17px;
    margin-bottom: 0px;
  }
  .container{
    padding: 0px;
  }
  .about{
    padding: 20px;
    flex-direction: column;
  }
  .about-image{
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .about-content p{
    padding: 0px;
    font-size: 16px;
  }
  .about .read-more{
    font-size: 16px;
  }
}